@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  position: relative;
  z-index: 6;
  /* border: 3px solid green; */
  overflow-y: scroll;
}

body .container .menu {
  /* height: 95vh; */
  width: 12.5rem;
  border-right: 1px solid red;
  background-color: #36353b;
}

body .container .menu .box {
  padding: 1rem 2.2rem 0 2.1rem;
}

body .container .menu .box .logo {
  margin: 0 0 1rem 0;
  padding: 0 0.5rem 1.2rem 0.5rem;
  border-bottom: 1px solid #545454;
}

body .container .menu hr {
  text-align: center;
  width: 100%;
  size: 1px;
  color: #545454;
}

body .container .menu ul {
  padding-top: 0.2rem;
  list-style: none;
  color: #a6a6a6;
  text-align: center;
  font-size: 0.9rem;
}

body .container .menu ul li {
  padding: 0.4rem;
}

body .container .menu ul li:first-child {
  padding-top: 0.2rem;
}

body .container .menu ul li:hover {
  cursor: pointer;
  background-color: #d10e29;
}

body .container .menu .icons {
  padding: 1rem 2.2rem 0 2.1rem;
  margin-top: 4.8rem;
  position: relative;
  z-index: 10;
}

body .container .menu .icons i {
  color: gray;
  margin: 1rem;
}

body .container .menu .detail {
  overflow-x: hidden;
  width: 12.5rem;
  height: 95vh;
  position: absolute;
  left: 12.45rem;
  top: 0;
  padding: 0;
}

body .container .menu .item1 {
  z-index: 3;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  width: 8.5rem;
  height: 95vh;
  position: absolute;
  left: -12.5rem;
  top: 0;
  padding-top: 11.5rem;
  font-weight: 500;
  background-color: #d10e29;
}

body .container .menu .item1 ul li a {
  text-decoration: none;
  color: white;
}

body .container .menu .item2 {
  z-index: 3;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  width: 8.5rem;
  height: 95vh;
  position: absolute;
  left: -12.5rem;
  top: 0;
  padding-top: 11.5rem;
  font-weight: 500;
  background-color: #d10e29;
}

body .container .menu .item2 ul li a {
  text-decoration: none;
  color: white;
}

body .container .menu .item3 {
  z-index: 3;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  width: 8.5rem;
  height: 95vh;
  position: absolute;
  left: -12.5rem;
  top: 0;
  padding-top: 11.5rem;
  font-weight: 500;
  background-color: #d10e29;
}

body .container .menu .item3 ul li a {
  text-decoration: none;
  color: white;
}

body .container .menu .item4 {
  z-index: 3;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  width: 8.5rem;
  height: 95vh;
  position: absolute;
  left: -12.5rem;
  top: 0;
  padding-top: 11.5rem;
  font-weight: 500;
  background-color: #d10e29;
}

body .container .menu .item4 ul li a {
  text-decoration: none;
  color: white;
}

body .container .menu .item5 {
  z-index: 3;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  width: 8.5rem;
  height: 95vh;
  position: absolute;
  left: -12.5rem;
  top: 0;
  padding-top: 11.5rem;
  font-weight: 500;
  background-color: #d10e29;
}

body .container .menu .item5 ul li a {
  text-decoration: none;
  color: white;
}

body .container .menu .item6 {
  z-index: 3;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  width: 8.5rem;
  height: 95vh;
  position: absolute;
  left: -12.5rem;
  top: 0;
  padding-top: 11.5rem;
  font-weight: 500;
  background-color: #d10e29;
}

body .container .menu .item6 ul li a {
  text-decoration: none;
  color: white;
}

body .container .menu .item7 {
  z-index: 3;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  width: 8.5rem;
  height: 95vh;
  position: absolute;
  left: -12.5rem;
  top: 0;
  padding-top: 11.5rem;
  font-weight: 500;
  background-color: #d10e29;
}

body .container .menu .item7 ul li a {
  text-decoration: none;
  color: white;
}

body .container .menu .item8 {
  z-index: 3;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  width: 8.5rem;
  height: 95vh;
  position: absolute;
  left: -12.5rem;
  top: 0;
  padding-top: 11.5rem;
  font-weight: 500;
  background-color: #d10e29;
}

body .container .menu .item8 ul li a {
  text-decoration: none;
  color: white;
}

body .container .menu .item1.show,
body .container .menu .item2.show,
body .container .menu .item3.show,
body .container .menu .item4.show,
body .container .menu .item5.show,
body .container .menu .item6.show,
body .container .menu .item7.show,
body .container .menu .item8.show {
  -webkit-transform: translateX(12.45rem);
  transform: translateX(12.45rem);
}

body .container .menu .bottom_left {
  width: 12.5rem;
  background-color: #36353b;
  border-right: 1px solid red;
  height: 5vh;
  padding: 0.2rem 1rem 0 0.5rem;
}

body .container header {
  z-index: 2;
  background: url(./img/機車.png);
  background-size: 75rem auto;
  background-position: top center;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

body .container header .space {
  width: 60%;
}

body .container header .home {
  margin: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container header .home i {
  color: gray;
}

body .container header .home p {
  margin-left: 0.2rem;
}

body .container header .home p a {
  text-decoration: none;
  color: black;
}

body .container header .account {
  margin: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container header .account i {
  color: gray;
}

body .container header .account p a {
  text-decoration: none;
  color: black;
  margin-left: 0.2rem;
}

body .container header .register {
  margin: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container header .register a {
  text-decoration: none;
  color: black;
}

body .container header .brand_name {
  margin: 1.7rem 0 0 0;
}

body .container header .brand_name a {
  text-decoration: none;
  color: black;
  color: #d10e29;
  font-weight: 1000;
}

body .container header .logo {
  margin: 0.8rem 1rem 0 0;
  height: 1rem;
}

body .container .header2 {
  border-bottom: 1px solid red;
  z-index: 5;
  height: 4rem;
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  background-color: black;
}

body .container .header2 .search {
  color: gray;
  margin: 1.2rem 1rem 0 0;
  height: 1rem;
}

body .container .header2 .logo {
  margin: 0.5rem 0 0 0;
  height: 1rem;
}

body .container .header2 .logo img {
  height: 2.5rem;
}

body .container .header2 .bars {
  color: gray;
  margin: 1.2rem 0 0 1rem;
  height: 1rem;
}

body .box2 {
  display: none;
  position: absolute;
  top: 0;
  overflow-y: scroll;
  z-index: 4;
  width: 100%;
  height: 101vh;
}

body .box2 .detail2 {
  position: relative;
  top: -670px;
  z-index: 4;
  width: 100%;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  border: 1px solid black;
  text-align: center;
  background-color: #d10e29;
}

body .box2 .detail2 ul {
  color: white;
  padding: 0 2rem;
  list-style: none;
  padding-top: 1rem;
}

body .box2 .detail2 ul li {
  margin: 0 1rem;
  padding: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

body .box2 .detail2 ul li a {
  color: white;
  text-decoration: none;
}

body .box2 .detail2.show {
  -webkit-transform: translateY(720px);
  transform: translateY(720px);
}

body .content2 {
  display: none;
}

body .content2 img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}
body .alignBox {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 15vh;
  overflow-y: hidden;
  width: 100%;
  z-index: 6;
}
body .bottom {
  z-index: 8;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: -10.5rem;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.8rem;
}

body .bottom .left {
  width: 20%;
}

body .bottom .right {
  width: 5%;
}

body .bottom ul {
  text-align: center;
  list-style: none;
}

body .bottom ul li:first-child {
  margin: 0.5rem 0 0.5rem 0;
}

body .bottom ul li {
  margin: 0.2rem 0 0.2rem 0;
}

body .bottom.show {
  -webkit-transform: translateY(-10.5rem);
  transform: translateY(-10.5rem);
}
body .alignBox.show {
  height: 40vh;
}

@media (max-width: 1200px) {
  body {
    overflow-y: scroll;
  }
  body .container .menu {
    display: none;
  }
  body .container header {
    display: none;
  }
  body .container .header2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
  }
  body .container .header-empty-box {
    height: 65px;
  }
  body .box2 {
    display: block;
  }
  body .content2 {
    display: block;
    overflow-y: 90vh;
    overflow-y: scroll;
  }
}
.fixedBtn {
  position: fixed;
  left: 6rem;
  top: 3rem;
  z-index: 12;
}

.fixedBtn a {
  text-decoration: none;
}

.fixedBtn a .box1 {
  margin-left: 0.2rem;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: yellow;
}

.fixedBtn a .box1 i {
  font-size: 2rem;
  color: black;
}

/*# sourceMappingURL=style.css.map */
